body{
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/07/02/01/07/basketball-1492261_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body *{
    opacity: 0.8;
    font-size: 40px;
  }
  input{
    text-align: center;
  }